.quiz {
  width: 400px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
}

.quiz .exp {
  animation: error 0.4s 1 linear;
  margin: 20px;
  text-align: right;
}

.quiz .question {
  color: #212e5a;
  font-weight: 600;
}

.quiz .options > * {
  margin: 25px 0;
}

.quiz .options .option-feild label {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  min-height: 50px;
  background: #ffffff;
  box-shadow: 0px 10px 22px rgba(228, 228, 228, 0.55);
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 10px 22px rgb(228 228 228 / 55%);
  border-radius: 10px;
  color: #33414f;
  font-weight: 600;
}

.quiz .options .option-feild label::before {
  content: "";
  width: 25px;
  height: 25px;
  border: 3px solid #e4e4e4;
  border-radius: 50%;
  margin: 10px;
}

.quiz .options .option-feild input:checked ~ label {
  border: 2px solid #84ff82;
  transform: translateX(25px);
  box-shadow: 0px 4px 4px rgba(132, 255, 130, 0.25);
  transition: 0.1s ease-in;
}

.quiz .options .option-feild input:checked ~ label::before {
  content: url(./check.svg);
  box-shadow: 0px 4px 4px rgba(132, 255, 130, 0.25);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  font-size: 20px;
}

.quiz .options .option-feild label.wrong {
  animation: error 0.4s 1 linear;
  border-color: #ff5858 !important;
  box-shadow: 0px 4px 4px rgba(255, 88, 88, 0.25) !important;
}
.quiz .options .option-feild label.wrong::before {
  box-shadow: 0px 4px 4px rgba(255, 88, 88, 0.25) !important;
  content: url(./wrong.svg) !important;
}

.quiz .options .option-feild label div {
  width: 100%;
}

.quiz .options .option-feild label .content {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.quiz .options .option-feild label .content .percentage {
  font-size: 20px;
}

.quiz .options .option-feild label .progress {
  width: 90%;
  height: 10px;
  border-radius: 4px;
  background: #f3f3f3;
  margin: 10px;
}

.quiz .options .option-feild label .progress span {
  display: flex;
  border-radius: 4px;
  height: 10px;
  animation: width 0.5s ease-in;
}

.wrong .progress span {
  background: #ff5858;
}

.correct .progress span {
  background: #84ff82;
}

@keyframes error {
  0% {
    transform: translate(30px);
  }
  20% {
    transform: translate(-30px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-15px);
  }
  80% {
    transform: translate(8px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes width {
  0% {
    width: 0;
  }
}

@media (min-width: 550px) {
  .quiz {
    width: 500px;
  }
}
@media (max-width: 550px) {
  .quiz .options .option-feild input:checked ~ label {
    border: 2px solid #84ff82;
    transform: translateX(5px);
  }
}
@media (max-width: 400px) {
  .quiz {
    width: 300px;
  }
}
