@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/night-owl.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

main {
  margin: 60px 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

main aside {
  margin: 0 15px;
}

main aside .md {
  display: none;
}

.info {
  margin: 20px 0;
  text-align: center;
  color: #222061;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin {
  margin: 0;
  padding: 0 0 0 200px;
  width: 100%;
  min-height: 100vh;
  background: #d0dfff;
}

@media (max-width: 768px) {
  main {
    margin-top: 100px;
  }
}

@media (max-width: 1110px) {
  main aside .md {
    display: block;
  }
  main aside .lg {
    display: none;
  }
}
